.footer{
    background-color: aliceblue;
    margin-top: 100px;
}

.facebook{
    margin-left: 800px;
}
.logotip{
    margin-left: 60px;
}
.list{
    display: flex;
    margin-left: 57px;
    margin-top: 30px;
}
.div-a{
    margin-top: 30px;
}
.list-a{
    margin-left: 150px;
}
.list-word-a{
    margin-left: 202px;
}
.list-word-b{
    margin-left: 150px;
}
.list-word-c{
    margin-left: 85px;
}
.list-word-d{
    margin-left: 138px;
}
